<div>
  <img src="https://cdn.baekdal.com/_img/2011/3dswship1.jpg">
  <h1>Welcome to Battleships</h1>
  <form action="/new_game">
    <input type="submit" value="New Game">
  </form>
  <p style="color:#0733FF"> In a galaxy far far, Makers will run out of peanut butter!</p>
</div>
