  <% if session[:player].nil? || session[:player].empty? %>
    <form action='/new_game' method="post">
      What is your name?
      <input type="text" name="name" required />
      <input type="submit" value="Submit">
    </form>
    <% else %>
      Welcome Back <%= session[:player].capitalize %>
    <form action="/start_game">
      <input type="submit" value="Resume Game">
    </form>
  <% end %>
