<div>
  <% if @player.nil? %>
    <form action="/new_game">
      What is your name?
      <input type="text" name="name" />
      <input type="submit" value="Submit">
    </form>
  <% elsif @player.empty? %>
    Invalid name
    <a href="/new_game">click here to go back</a>
  <% else %>
    <h3> Hello <%= @player %> </h3>
      <form action="/start_game">
        <input type="submit" value="Start Game">
      </form>
  <% end %>
</div>