<div>
    <h3> Hello <%= session[:player].capitalize %> </h3>
    <h3>Please pick one of the following game modes</h3>
    <li>
      <form action="/single_player">
        <input type="submit" value="Single Player">
      </form>
    </li>
</div>